@font-face {
    src: url(fonts/SuisseIntl-Book.woff);
    font-family: 'Suisse';
    font-weight: normal;
}

@font-face {
    src: url(fonts/SuisseIntl-Bold.woff);
    font-family: 'Suisse';
    font-weight: bold;
}

html {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    flex-flow: column nowrap;
    background-color: #323131;
    color: white;
    max-width: 540px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Suisse';
    box-sizing: border-box;
    padding: 36px;
    max-height: 100vh;
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}



.logo {
    font-weight: bold;
    font-size: 24px;
}

.button {
    flex-shrink: 0;
    width: 130px;
    height: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 0.2s;
}

/* @media screen and (max-width: 360px) {
    .button {font-size: 10px;}
} */

.button:hover {
    opacity: 0.5;
}

.image {
    width: 410px;
    display: block;
    margin: 70px auto 60px;
    transition: opacity 0.5s;
}

.advice {
    flex: 1;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.1;
    transition: font-size 0.5s;
}

.phrase {
    transition: opacity 0.5s;
}

.footer {
    font-size: 16px;
    margin-top: 70px;
}

